.container {
	width: 100%;
	height: 100vh;
	color: blue;
	background-color: orange;
}

.title {
	margin: 0 auto;
	font-size: 20px;
	text-align: center;
}

.board {
	margin: 0 auto;
}

.playerTurn {
	font-size: 20px;
	margin: 0 auto;
	text-align: center;
}


.box {
	width: 100px;
	height: 100px;
	border: 2px solid black;
	text-align: center;
}

.box:hover {
	background-color: pink;
}

#box1 {
	border-top: none;
	border-left: none;
}

#box2 {
	border-top: none;
}

#box3 {
	border-top: none;
	border-right: none;
}

#box4 {
	border-left: none;
}

#box6 {
	border-right: none;
}

#box7 {
	border-left: none;
	border-bottom: none;
}

#box8 {
	border-bottom: none;
}

#box9 {
	border-right: none;
	border-bottom: none;
}

.reset {
	margin: 0 525px;
}